.cv-card_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.cv-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}
