@import '../../../scss/variables';

.main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero-wrapper {
  // background-image: url('../../../assets/layer-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero__intro {
  max-width: 450px;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-shrink: 0;

  @media screen and (max-width: 768px) {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 70px;
  }
}

.intro__title {
  margin-bottom: 25px;
  padding-top: 50px;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1;
  color: $text-color;

  @media (max-width: $mobile) {
    font-size: 3rem;
  }
}

.intro__description {
  margin-bottom: 30px;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 500;
  color: $text-color;

  @media (max-width: $mobile) {
    font-size: 1rem;
  }
}

.intro__button {
  padding: 0.5em 1.6em;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  background-color: $color2;
  text-decoration: none;
  border-radius: 15px;
  transition: 0.2s;
  white-space: nowrap;
  display: inline-block;

  &:focus,
  &:hover {
    background-color: $color2-hover;
  }
}

.hero__lottie {
  max-width: 700px;
  width: 100%;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.main-page .info {
  margin-bottom: 50px;

  &__text-content {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    color: $text-color;

    h3 {
      font-size: 46px;
      font-weight: 500;

      @media(max-width: $tablets) {
        font-size: 35px;
      }
    }

    p {
      font-size: 24px;
      margin-top: 30px;
      font-weight: 300;

      @media(max-width: $tablets) {
        font-size: 20px;
      }
    }
  }

  &__row {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 50px;

    @media(max-width: $tablets) {
      flex-wrap: wrap;
    }
  }

  &__item {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    @media(max-width: $tablets) {
      margin-bottom: 40px;
    }

    img {
      max-width: 500px;
      width: 100%;
      min-width: 250px;
    }
  }

  &__subtitle {
    font-size: 23px;
    font-weight: 500;
    color: $text-color;
    margin-bottom: 20px;
    margin-bottom: 40px;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}

.big-btn {
  max-width: 300px;
  background-color: $color2;
  border: none;
  padding: 0.9em 0;
  width: 100%;
  margin: 0 auto;
  color: white;
  border-radius: 0.5em;
  text-align: center;
  cursor: pointer;
}

.main-page .advantages {
  margin-bottom: 50px;

  &__row {
    display: flex;
    justify-content: space-between;
    
    @media(max-width: $tablets) {
      flex-wrap: wrap;
    }
  }

  &__button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}

.advantages-item {
  width: 30%;
  color: $text-color;
  text-align: center;
  margin-bottom: 40px;

  @media(max-width: $tablets) {
    width: 100%;
    margin-bottom: 20px;
  }

  &__image {
    margin-bottom: 15px;
  }

  &__title {
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__description {
    font-weight: 300;
    margin-bottom: 11px;
  }
}
