@import '../../../scss/variables';

.hero-wrapper {
  // background-image: url('../../../assets/layer-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero__intro {
  max-width: 450px;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-shrink: 0;
}

.intro__title {
  margin-bottom: 25px;
  padding-top: 50px;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1;
  max-width: 450px;
  color: $text-color;

  @media (max-width: $laptops) {
    font-size: 4rem;
    max-width: 340px;
  }

  @media (max-width: $mobile) {
    font-size: 3rem;
    max-width: 280px;
  }
}

.intro__description {
  margin-bottom: 30px;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 500;
  color: $text-color;
  max-width: 350px;

  @media (max-width: $laptops) {
    font-size: 1rem;
    max-width: 300px;
  }

  @media (max-width: $mobile) {
    font-size: 1rem;
    max-width: 250px;
  }
}

.intro__button {
  padding: 0.5em 1.6em;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  background-color: $color2;
  text-decoration: none;
  border-radius: 15px;
  transition: 0.2s;
  white-space: nowrap;
  display: inline-block;

  &:focus,
  &:hover {
    background-color: $color2-hover;
  }
}

.hero__lottie {
  max-width: 700px;
  width: 100%;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
