.BusinessCardList {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: bisque;
  background-size: cover;
  overflow-y: hidden;
}
.card__list {
  display: flex;
  justify-content: space-around;
}

.business-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
