.BusinessCardList{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: bisque;
    background-size: cover;
    overflow-y: hidden;
    

    
}