@import "../../../../scss/variables";

.BusinessCardList {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: bisque;
  background-size: cover;
  overflow-y: hidden;
}
.card__list {
  display: flex;
  justify-content: space-around;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card__item {
  position: relative;
  margin: 0 20px 20px 0;

  &:hover {
    transform: translateY(-3%);
  }

  &:hover .card__body {
    background-color: rgba($color2, 0.6);
  }
}

.card__body {
  position: relative;
  background-color: #ebebeb;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  padding: 20px;
}

.card__img {
  width: 295px;

  @media(max-width: 360px) {
    width: 100%;
  }
}


.cards__loader-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
