.form {
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  direction: rtl;
  width: 50%;

  @media(max-width: 960px) {
    width: 100%;
  }

  * {
    direction: ltr;
  }
}

.form-none {
  display: none;
}

.form-group {
  * {
    direction: ltr;
  }
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
