.form {
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  direction: rtl;

  * {
    direction: ltr;
  }
}

.form-group {
  * {
    direction: ltr;
  }
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
