@import '../../scss/variables';

.form {
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  direction: rtl;
  width: 50%;

  @media (max-width: 960px) {
    width: 100%;
  }

  * {
    direction: ltr;
  }
}

.form::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.form::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
.form::-webkit-scrollbar-thumb {
  background: darken($color2, 10%);
  border-radius: 10px;
}

/* Handle on hover */
.form::-webkit-scrollbar-thumb:hover {
  background: #009eb3;
}

.form-none {
  display: none;
}

.form-group {
  * {
    direction: ltr;
  }
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
