@import "../../../scss/variables";

.header {
  padding: 30px 0 0 0;

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 650px;
    width: 100%;
  }

  &__line {
    display: block;
    background-color: $text-color;
    height: 60px;
    width: 1px;
  }
}

.nav {
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  text-decoration: none;

  img {
    max-width: 90px;
  }

  p {
    color: $text-color;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.1;
  }
}
