.builder-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  // background-image: url(../../../assets/layer-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.builder-page__inner {
  display: flex;
  height: 100%;
  padding: 20px 0;
}

.overlay {
  width: 100%;
  // filter: blur(10px);
  background-color: white;
  position: relative;
  z-index: 100;
}

.builder-page__pdf-viewer {
  width: 50%;
  display: block;

  @media (max-width: 960px) {
    display: none;
  }
}

.builder-page__pdf-viewer-view {
  display: block;
  width: 100%;
}
