.builder-page {
  height: 100%;
}

.builder-page__inner {
  display: flex;
  height: 100%;
  padding: 20px 0;
}

.overlay {
  width: 100%;
  // filter: blur(10px);
  background-color: white;
  position: relative;
  z-index: 100;
}
