@import "./variables";

body {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  background-color: $color1;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
