h1 {
  font-size: 48.83px;
  font-weight: 700;
}

h2 {
  font-size: 39.06px;
  font-weight: 700;
}

h3 {
  font-size: 31.25px;
  font-weight: 700;
}

h4 {
  font-size: 25px;
  font-weight: 700;
}

h5 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.35;
}
