// COLORS
$text-color: #4d4c4c;
$color1: #faf9f8;
$color2: #8bc29a;
$color3: #a8dffc;
$color2-hover: darken($color2, 10%);

// FONTS

$thin: 200;
$regular: 400;
$bold: 600;
$extra-bold: 700;

// MEDIA QUERIES

$mobile: 575px;
$tablets: 768px;
$laptops: 980px;
$desktop: 1024px;
