@import "../../../scss/variables";

.footer {
  padding: 45px 0;
  background-color: #9ebda6;

  @media (max-width: $tablets) {
    padding: 30px 0;
  }
}

.footer__content {
  display: flex;
  align-items: center;
  color: $color1;

  @media(max-width: $molibe-plus) {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer__nav {
  width: 45%;
  margin: 0 10% 0 0;
  align-items: center;

  @media (max-width: $laptops) {
    width: 10%;
    margin-right: 5%;
  }

  @media (max-width: $tablets) {
    width: 30%;
    justify-content: center;
    margin-right: 5%;
  }

  @media(max-width: $molibe-plus) {
    width: 50%;
    margin-bottom: 25px;
    align-self: center;
    justify-content: center;
  }
}

.footer__contacts {
  margin-left: auto;
}

.footer__dev {
  @media(max-width: $molibe-plus) {
    width: 100%;
  }
}

.footer__dev-desc, .footer__dev-desc-st {
  width: 55%;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  
  @media(max-width: $tablets) {
    width: 100%;
    text-align: center;
  }
}

.footer {
  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    margin: 0 0 10px 0;
  }

  .nav__link {
    color: $color1;

    &.active:after {
      display: none;
    }
  }
}

.footer__contacts {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @media(max-width: $tablets) {
    flex-wrap: wrap;
  }
}

.footer__contacts-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 190px;

  @media(max-width: $tablets) {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
   
  @media(max-width: $molibe-plus) {
    width: 100%;
    flex-direction: column;
  }
}

.footer__contacts-name {
  width: 100%;
  margin: 0 0 5px 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  font-weight: 400;

  @media(max-width: $tablets) {
    text-align: center;
  }
}

.footer__contacts-list {
  display: flex;
}

.footer__contacts-list span {
  margin: 0 5px 0 0;
}

.footer__contacts-github {
  margin-right: 10px;
}

.footer__contacts-list a {
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: $color1;
  transition: 0.9s;

  &:focus,
  &:hover {
    opacity: 0.6;
  }
}
