@import "../../../scss/variables";

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.nav__link {
  margin-right: 22px;
  font-size: 19px;
  line-height: 22px;
  text-decoration: none;
  color: $text-color;
  transition: 0.2s;

  &:focus,
  &:hover {
    opacity: 0.6;
  }
}
